.cardClima {
  max-width: 350px;
  background-color: rgb(7 16 45);
  background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
  background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(84 90 106);
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: space-around;
  color: white;
  user-select: none;
}

.cardClima h3 h4 {
  font-size: 3rem;
}

.cardClima img {
  width: 50%;
}

.temperatura {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.temperatura span {
  display: flex; 
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
}

.inputText {
  width: 80%;
  height: 39px;
  border: 1px solid white;
  border-radius: 30px;
  background: #444;
  text-align: center;
  color: white;
}

.inputText::placeholder {
  color: white;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.btnInput {
  cursor: pointer;
}